$base-color = #007eff
$weak-color = #8ac4ff
$unavailable-color = #aaa
$highlight-background = #d1e8ff
$table-header-color = #666
$border = #ccc

.the-datepicker-board
	.the-datepicker-container
		border-top-left-radius 0
	&.the-datepicker-board-over
		.the-datepicker-container
			border-top-left-radius 0.3em
			border-bottom-left-radius 0

.the-datepicker-container
	background-color white
	border 1px solid $border
	border-radius 0.3em
	padding 0.4em
	font-family Arial, Helvetica, sans-serif
	line-height 1em
	box-sizing border-box

	.the-datepicker-body
		margin-top 1em

	th.the-datepicker-table-header-cell
		width 2.1em
		min-width 2.1em
		max-width 2.1em
		padding 0.5em 0
		text-align center
		font-weight normal
		text-transform uppercase
		color $table-header-color
		font-size 0.85em

	a.the-datepicker-button
		display block
		width 2.1em
		min-width 2.1em
		max-width 2.1em
		padding 0.6em 0
		text-decoration none
		text-align center
		color $base-color
		border-radius 0.3em
		&:hover
			background-color $highlight-background
			text-decoration none

	.the-datepicker-title
		display inline-block
		width 70%

	.the-datepicker-title-content
		display inline-block
		padding 0.5em

	.the-datepicker-control
		display inline-block
		width 30%
		text-align right

	.the-datepicker-reset, .the-datepicker-close
		display inline-block
		font-weight bold

	.the-datepicker-navigation
		margin-top 0.3em

	.the-datepicker-go
		display inline-block
		width 15%
		a.the-datepicker-button
			display inline-block
			font-weight bold

	.the-datepicker-go-next
		text-align right

	.the-datepicker-state
		display inline-block
		width 70%

	.the-datepicker-month
		display inline-block
		width 62%
		text-align center

	.the-datepicker-year
		display inline-block
		width 38%
		text-align center

	select.the-datepicker-select
		font-size 0.9em
		margin 0
		padding 0

	table.the-datepicker-table
		display table
		border-collapse collapse
		thead
			display table-header-group
		tbody
			display table-row-group
		tr
			display table-row
			td, th
				display table-cell

	td.the-datepicker-cell
		padding 0

	td.the-datepicker-day
		a.the-datepicker-button
			padding 0.1em
			.the-datepicker-day-content
				display block
				padding 0.6em 0
				text-align center
				border-radius 0.3em
			&:hover
				background-color transparent
				.the-datepicker-day-content
					background-color $highlight-background

	td.the-datepicker-highlighted
		a.the-datepicker-button
			.the-datepicker-day-content
				background-color $highlight-background

	td.the-datepicker-outside
		a.the-datepicker-button
			color $weak-color

	td.the-datepicker-unavailable
		a.the-datepicker-button
			color $unavailable-color
			&:hover
				.the-datepicker-day-content
					background-color transparent

	td.the-datepicker-selected, td.the-datepicker-selected.the-datepicker-highlighted
		a.the-datepicker-button
			color white
			.the-datepicker-day-content
				background-color $base-color
			&:hover
				.the-datepicker-day-content
					background-color $base-color

	.the-datepicker-weekend, td.the-datepicker-today
		font-weight bold

.the-datepicker-deselect a
	text-decoration none
	color $base-color
	font-weight bold
	&:hover
		text-decoration none
