$base-color = #007eff
$weak-color = #8ac4ff
$unavailable-color = #aaa
$highlight-background = #d1e8ff
$table-header-color = #666
$border = #ccc

.the-datepicker-container
	float left
	background-color white
	border 1px solid $border
	border-radius 0 6px 6px 6px
	padding 6px
	font-family Arial, Helvetica, sans-serif
	font-size 14px

.the-datepicker-header
	float left
	width 100%

.the-datepicker-body
	float left
	clear left
	margin-top 14px

.the-datepicker-button
	display block
	width 21px
	height 17px
	padding 4px
	text-decoration none
	text-align center
	color $base-color
	border-radius 6px
	&:hover
		background-color $highlight-background

.the-datepicker-reset, .the-datepicker-close
	.the-datepicker-button
		font-weight bold
		float right

.the-datepicker-navigation
	float left
	width 100%

.the-datepicker-go
	float left
	width 15%
	.the-datepicker-button
		font-weight bold

.the-datepicker-go-next
	.the-datepicker-button
		float right

.the-datepicker-title
	float left
	width 70%
	padding 4px 0

.the-datepicker-month
	float left
	width 60%
	text-align center

.the-datepicker-year
	float left
	width 40%
	text-align center

.the-datepicker-select
	margin-top -2px

.the-datepicker-table
	border-collapse collapse

.the-datepicker-table-header-cell
	text-align center
	font-weight normal
	text-transform uppercase
	color $table-header-color
	font-size 0.85em
	padding-bottom 5px

.the-datepicker-day
	padding 1px

.the-datepicker-highlighted
	.the-datepicker-button
		background-color $highlight-background

.the-datepicker-outside
	.the-datepicker-button
		color $weak-color

.the-datepicker-unavailable
	.the-datepicker-button
		color $unavailable-color
		&:hover
			background-color transparent

.the-datepicker-selected, .the-datepicker-selected.the-datepicker-highlighted
	.the-datepicker-button
		background-color $base-color
		color white
		&:hover
			background-color $base-color

.the-datepicker-weekend, .the-datepicker-today
	font-weight bold
